.wrapper {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  align-content: space-between;
    border: solid 1px;
  }
  .form {
    display: flex;
    display: inline-block;
    display: table-column;
  }