form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.wrapper {
  display: flex;
  min-height: 100vh;
  align-content: center;
  text-align: center;
    border: solid 1px;
  }
 
 