.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-content: center;
  justify-content: center;
  text-align: center;
    border: solid 1px;
  }
 
  .form-wrapper {
    display: flex;
      flex-direction: column;
  }
  .form-wrapper input {
    text-align: center;
    height: 36px;
    margin: 5px;
    outline: none;
    border-radius: 5px 20px 5px;
    border-color: yellowgreen;
  }
  .form-wrapper button {
    margin: 5px;
    height: 36px;
    text-transform: uppercase;
   font-weight: bold;
   outline: none;
   border-radius: 5px 20px 5px;
   background-color: yellowgreen;
  }
  .stranger-img {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 15px;
    left: calc(50% - 150px);
  }

  .cake-wrapper {
    position: absolute;
  }

  .cake {
    transform: translate(54px, 10px);
    position: relative;
    width: 300px;
  }

 .cake img {
    width: 100%;
    height: auto;
  }









